.gitignore

*.bak
*.ddk
*.edk
*.lst
*.lnp
*.mpf
*.mpj
*.obj
*.omf
*.plg
*.rpt
*.tmp
*.__i
*.crf
*.o
*.d
*.axf
*.tra
*.dep
JLinkLog.txt
JLinkSetting.ini
*.iex
*.htm
*.sct
*.map
*.uvguix.*

vscode_build/
build/
/build-gimbal/
/build-chassis/
/cmake-build-debug/
/cmake-build-debug-gimbal/
/cmake-build-debug-chassis/
/cmake-build-debug-stm32
.cache/
.idea
.vscode
!*/CMakeLists.txt
!CMakeLists.txt




